server {
	port 4246
	server_name daddy_christmas;
	error_page 405 405.html;
	error_page 406 406.html;
	error_page 413 413.html;
	error_page 418 418.html;
	error_page 501 501.html;
	root ./srcs/server;
	body_size 10000000;
	index home.html;
	method GET POST DELETE;

	location /hello
	{
		root ./srcs/server;
		index hello.html;
		method GET;
	}

	location /javascript
	{
		root ./srcs/server;
		index javascript.html;
		method GET;
	}

	location /image
	{
		root ./srcs/server;
		index image.html;
		method GET;
	}

	location /video
	{
		root ./srcs/server;
		index video.html;
		method GET;
	}

	location / {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /home {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /upload {
		upload_directory ./srcs/server/upload;
		root ./srcs/server;
		index upload.html;
		method	GET POST DELETE;
	}

	location /delete {
		root ./srcs/server;
		index delete.html;
		method	GET POST DELETE;
	}

	location /map.pl {
		root ./srcs/server;
		method POST
	}

	location /random_number.py {
		root ./srcs/server;
		method POST;
	}

	location /old {
		return 301 /image
	}
}

server {
	port 4247
	server_name sister_christmas;
	root ./srcs/server;
	body_size 1000000000;
	index home.html;
	method GET POST DELETE;

	location /image
	{
		root ./srcs/server;
		index image.html;
		method GET;
	}
}

server {
	port 4246
	server_name mommy_christmas;
	root ./srcs/server;
	body_size 1000000000;
	index home.html;
	method GET POST DELETE;
}

server {
	port 4247
	server_name brother_christmas;
	error_page 405 405.html;
	error_page 406 406.html;
	error_page 413 413.html;
	error_page 418 418.html;
	error_page 501 501.html;
	root ./srcs/server;
	body_size 1000000000;
	index home.html;
	method GET POST DELETE;

	location /hello
	{
		root ./srcs/server;
		index hello.html;
		method GET;
	}

	location /javascript
	{
		root ./srcs/server;
		index javascript.html;
		method GET;
	}

	location /image
	{
		root ./srcs/server;
		index image.html;
		method GET;
	}

	location /video
	{
		root ./srcs/server;
		index video.html;
		method GET;
	}

	location / {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /home {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /upload {
		upload_directory ./srcs/server/upload;
		root ./srcs/server;
		index upload.html;
		method	GET POST DELETE;
	}

	location /delete {
		root ./srcs/server;
		index delete.html;
		method	GET POST DELETE;
	}

	location /map.pl {
		root ./srcs/server;
		method POST
	}

	location /random_number.py {
		root ./srcs/server;
		method POST;
	}

	location /old {
		return 301 /image
	}
}

