server {
	port 4245
	server_name daddy_christmas;
	error_page 405 405.html;
	error_page 413 413.html;
	error_page 501 501.html;
	root ./srcs/server;
	body_size 10000;
	index image.html;
	method GET POST DELETE;

	location /hello
	{
		root ./srcs/server;
		index hello.html;
		method GET;
	}

	location /javascript
	{
		root ./srcs/server;
		index javascript.html;
		method GET;
	}

	location /image
	{
		root ./srcs/server;
		index image.html;
		method ;
	}

	location /video
	{
		root ./srcs/server;
		index video.html;
		method GET;
	}

	location / {
		root ./srcs/server;
		index image.html;
		method	GET POST DELETE;
	}
	
	location /home {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /upload {
		root ./srcs/server/upload;
		index upload.html;
		method	GET POST DELETE;
	}

	location /delete {
		root ./srcs/server/delete;
		index delete.html;
		method	GET POST DELETE;
	}
}

server {
	port 4244
	server_name camilla_for_christmas;
	error_page 405 405.html;
	error_page 413 413.html;
	error_page 501 501.html;
	root ./srcs/server;
	body_size 10000;
	index hello.html;
	method GET POST DELETE;

	location /hello
	{
		root ./srcs/server;
		index helllo.html;
		method GET;
	}

	location /javascript
	{
		root ./srcs/server;
		index javascript.html;
		method GET;
	}

	location /image
	{
		root ./srcs/server;
		index image.html;
		method GET;
	}

	location /video
	{
		root ./srcs/server;
		index video.html;
		method GET;
	}

	location / {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /home {
		root ./srcs/server;
		index home.html;
		method	GET POST DELETE;
	}
	
	location /upload {
		root ./srcs/server/upload;
		index upload.html;
		method	GET POST DELETE;
	}

	location /delete {
		root ./srcs/server/delete;
		index delete.html;
		method	GET POST DELETE;
	}
}
