server {
	port 7777;
	server_name localhost;
	error_page 404 404.html;
	error_page 501 501.html;
	index home.html;
	root ./srcs/server;


	location /hello {
		root ./srcs/server;
		index hello.html;
	}

	location / {
		root ./srcs/server;
		index home.html;
	}
	
	location /home {
		root ./srcs/server;
		index home.html;
	}
	
	location /upload {
		root ./srcs/server/upload;
		index upload.html;
	}

	location /delete {
		method: GET POST
		root ./srcs/server/delete;
		index delete.html;
	}
}

server {
	port 7777;
	server_name localhost;
	error_page 404 404.html;
	error_page 501 501.html;
	index home.html;
	root ./srcs/server;


	location /hello {
		root ./srcs/server;
		index hello.html;
	}

	location / {
		root ./srcs/server;
		index home.html;
	}
	
	location /home {
		root ./srcs/server;
		index home.html;
	}
	
	location /upload {
		root ./srcs/server/upload;
		index upload.html;
	}

	location /delete {
		root ./srcs/server/delete;
		index delete.html;
	}
}